.card {
  width: 30%;
  min-width: 300px;
  background-color: #ededed;
  margin: 0.5rem;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 3px 3px 11px 0 grey;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
